<div class="card border-primary mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body text-primary">
        <button class="btn btn-secondary my-2" routerLink="/clientes">Regresar</button>
        <br />
        <form>    
            
            <div class="form-group">
                <label for="tipoDocumento">Tipo Documento</label>
            </div>      
<!-- Desplegable Ini -->

<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">			
            <select class="form-select" name="tipoDocumento" ngModel [(ngModel)]="cliente.tipoDocumento.id">
                <option value="0" disabled selected>Seleccionar</option>                
                <option [ngValue]="objeto.id" *ngFor="let objeto of listaD">{{objeto.siglas}}</option>                                           
             </select>
		</div>
	</div>
</div>
       
<!-- Desplegable Fin-->
           <div class="alert alert-danger" *ngIf="error && error.genero">{{error.genero}}</div>                

       
            <div class="form-group">
                <label for="numeroDocumento">Numero Documento</label>
                <input type="text" name="numeroDocumento" id="numeroDocumento" class="form-control"
                    placeholder="Número Documento" [(ngModel)]="cliente.numeroDocumento">
                <div class="alert alert-danger" *ngIf="error && error.numeroDocumento">{{error.numeroDocumento}}</div>
            </div>
            <div class="form-group">
                <label for="razonSocial">Razon Social</label>
                <input type="text" name="razonSocial" id="razonSocial" class="form-control" placeholder="Razón Social"
                    [(ngModel)]="cliente.razonSocial">
                <div class="alert alert-danger" *ngIf="error && error.razonSocial">{{error.razonSocial}}</div>
            </div>
            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos" class="form-control" placeholder="Apellidos"
                    [(ngModel)]="cliente.apellidos">
                <div class="alert alert-danger" *ngIf="error && error.apellidos">{{error.apellidos}}</div>
            </div>
            <div class="form-group">
                <label for="nombres">Nombres</label>
                <input type="text" name="nombres" id="nombres" class="form-control" placeholder="Nombres"
                    [(ngModel)]="cliente.nombres">
                <div class="alert alert-danger" *ngIf="error && error.nombres">{{error.nombres}}</div>
            </div>

            <div class="form-group">
                <label for="fechaNacimiento" >Fecha Nacimiento</label>           
                <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control"
                    [(ngModel)]="cliente.fechaNacimiento">
                <div class="alert alert-danger" *ngIf="error && error.fechaNacimiento">{{cliente.fechaNacimiento}}</div>
            </div>

            <div class="form-group">
                <label for="genero">Género</label>
            </div>      
<!-- Desplegable Ini -->

<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">			
            <select class="form-select" name="genero" ngModel [(ngModel)]="cliente.genero">
                <option value="" disabled selected>Seleccionar</option>  
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>              
             </select>
		</div>
	</div>

</div>
       
<!-- Desplegable Fin-->
            <div class="alert alert-danger" *ngIf="error && error.genero">{{error.genero}}</div>

        </form>
        <button class="btn btn-primary my-2" type="button" (click)="cliente.id? modificar():crear()">
            {{ cliente.id? 'Modificar':'crear'}}</button>
    </div>
</div>